@model IndexViewModel

@{
    ViewData["Title"] = "Welcome!";
}

@{
    var cars = Model.Cars;
    var activeCarouselIndex = Model.ActiveIndex;

    
}

@if (!cars.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for renting cars!</h1>
        <p class="lead">There are no cars in the system, why don't you just add one?</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a asp-controller="Cars" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add car</a>
        </p>
    </div>
}

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
     @for (int i = 0; i < cars.Count; i++)
      {
        var car = cars[i];

        <div class="carousel-item img-fluid @(activeCarouselIndex == i ? "active": "")" >
          <img class="d-block w-75" src="@car.ImageUrl" alt="@car.Brand @car.Model @car.Year">
              <div class="carousel-caption d-none d-md-block">
                <h5>@car.Brand @car.Model (@car.Year)</h5>
                <p>@car.Description.Substring(0, 50)...</p>
              </div>

              <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-outline-warning">Rent now</a>
        </div>
      }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
</div>
